/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-page-header {
    display: none;
  }
  .eltdf-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1370px) {
  .eltdf-main-menu > ul > li > a {
    padding: 0 8px;
  }
  .eltdf-main-menu > ul > li > a > span.item_outer {
    font-size: 0.8em;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-boxed .eltdf-page-header .eltdf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-header-vertical .eltdf-vertical-menu-area {
    display: none;
  }
  .eltdf-header-vertical .eltdf-content,
  .eltdf-header-vertical footer {
    padding-left: 0;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-mobile-header {
    display: block;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-boxed .eltdf-page-header .eltdf-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
    width: 96%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-top-bar,
  .eltdf-top-bar-background {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/header-responsive.css.map */
